            body {
                background-color: darkslategray;
                color: white;
                text-align: center;
                margin: 0;
                font-family: monospace;
            }
            
            main {}
            
            #pageTitle {
                text-align: left;
                padding-top: 1%;
            }
            
            #userKey {
                margin-top: 2vh;
                margin-bottom: 2vh;
            }
            
            #userName {
                margin-bottom: 2vh;
            }
            
            #content {
                background-color: #0a2d4c;
                width: 80vw;
                height: 90vh;
                border-style: solid;
                border-radius: 10px;
                border-inline-color: black;
                border-width: 20px;
                margin: auto;
            }
            
            #character {
                /* background-color: blue; */
                width: 50%;
                height: 50%;
            }
            
            #portrait {
                width: 15vw;
                height: 45vh;
                background-size: cover;
                border-style: solid;
                border-radius: 10px;
                border-color: rgb(100, 93, 83);
                margin-left: 5vw;
                margin-top: 2vw;
                min-width: 300px;
            }
            
            #job-wrapper {
                width: 50vw;
                height: 40vw;
                margin: auto;
                position: relative;
                left: 25vw;
                bottom: 20vw;
            }
            
            #jobs {
                width: 100%;
                height: 50%;
                white-space: nowrap;
                columns: 3;
            }
            
            .lineThrough {
                text-decoration-line: line-through;
            }
            
            .jobDiv {
                padding-top: 1.75vh;
                padding-bottom: 1.75vh;
                height: 5vh;
            }
            
            .portrait {
                width: 50vw;
                height: 50vh;
            }
            
            .backgroundCover {
                background-size: cover;
                width: 20px;
                height: 20px;
            }
            
            .icon {
                width: 25px;
                height: 25px;
                border-radius: 5px;
                border-color: white;
                background-color: gray;
                border-style: solid;
                border-width: 1px;
                margin: 10px;
            }
            
            .tankIcon {
                background-color: blue;
            }
            
            .healIcon {
                background-color: green;
            }
            
            .dpsIcon {
                background-color: red;
            }
            
            @media screen and (max-width: 650px) {
                #content {
                    border-style: none;
                    margin: 0;
                    text-align: center;
                    width: 100vw;
                }
                #portrait {
                    width: 80vw;
                    height: 80vw;
                    margin-left: 10vw;
                    margin-right: 10vw;
                    margin-top: 8vw;
                }
                #job-wrapper {
                    width: 100vw;
                    margin: 0;
                    position: static;
                }
                #jobs {
                    columns: 1;
                    width: 100vw;
                    height: 100vh;
                }
                .input {
                    display: inline-block;
                    width: 100vw;
                }
                #userKey {
                    width: 100vw;
                    margin-top: 2vh;
                    margin-bottom: 2vh;
                }
                #userName {
                    width: 100vw;
                    margin-bottom: 2vh;
                }
                .jobDiv {
                    width: 100vw;
                    height: 3vh;
                    text-align: left;
                    border-bottom: none;
                    border-left: none;
                    border-right: none;
                    border-color: rgb(100, 93, 83);
                    margin-bottom: 1vh;
                    padding-top: 1vh;
                    padding-bottom: 1vh;
                }
                .icon {
                    width: 5vw;
                    height: 5vw;
                    margin-right: 5vw;
                    margin-top: 1vh;
                    border-style: solid;
                    border-color: white;
                    border-width: 3px;
                }
            }