body {
    background-color: darkslategray;
    color: white;
    text-align: center;
    
}

main {
    display: inline-block;
    width: 80%;
    
}

#pageTitle {
    text-align: left;
}

td {
    text-align: left;
}

.lineThrough {
    text-decoration:line-through;
}