body {
    background-color: darkslategray;
    color: white;
    text-align: center;
}

main {
    display: inline-block;
    width: 80%;
}

#pageTitle {
    text-align: left;
    padding-top: 1%;
}

#content {
    background-color: #0a2d4c;
    width: 80vw;
    height: 100vh;
    border-style: solid;
    border-radius: 10px;
    border-inline-color: black;
    border-width: 20px;
}

td {
    text-align: left;
}

.lineThrough {
    text-decoration: line-through;
}

.backgroundCover {
    background-size: cover;
    width: 20px;
    height: 20px;
}

#portrait {
    width: 330px;
    height: 450px;
    background-size: cover;
    border-style: solid;
    border-radius: 10px;
    border-color: tan;
}

#character {
    background-color: blue;
    width: 50%;
    height: 50%;
}

#jobs {
    background-color: grey;
    width: 100%;
    height: 200%;
    columns: 2;
    white-space: nowrap;
}

.icon {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border-color: white;
    background-color: gray;
    border-style: solid;
    border-width: 1px;
}

.tankIcon {
    background-color: blue;
}

.healIcon {
    background-color: green;
}

.dpsIcon {
    background-color: red;
}